.user-last-msg-time{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #606460;
}

.chat-text-msg{
    display: flex;
    flex-wrap: nowrap;
}