.chat-page{
    display: flex;
    height: 100vh;
}

.chat-page-content{
    display: flex;
    height: calc(100vh - 86px);
    flex-direction: column;
    justify-content: space-between;
    /* --background:#ffffff; */
    --background:linear-gradient(rgba(201, 217, 219, 0.460), rgba(201, 217, 219, 0.460)) , url("../../../public/assets/images/chat-bg.png") no-repeat center/cover fixed;
}
.chat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --background:transparent;
    box-shadow: none;
    -webkit-box-shadow:none;
    /* margin-top: 16px; */
    position: relative;
}
.chat-toolbar-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.chat-profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.chat-profile-detail{
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Quicksand';
   font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.online-toggle{
    display: flex;
    font-family: 'Quicksand';
    align-items: center;
    font-size: 16px;
    margin-top: 5px;
    
}
.online-toggle-icon{
    font-size: 8px;
    margin: 5px;
}

.messages-container{
    display: flex;
    flex-direction: column;
    flex: 9;
    gap:1rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

.message-send{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    padding: 0 10px;
    padding-right: 15px;
    height: 70px;
}

.send-input{
    font-size: 18px;
}

.profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height:45px;
}

.profile-name{
    font-family: 'Quicksand';
    font-weight: bold;
     font-size: 18px;
     color: #000000;
}
