.settings-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
  font-size: 18px;
  gap: 1.5rem;
  font-weight: 700;
  margin: 0 2rem;
  margin-bottom: 3rem;
  color: #454545;
}

.logout-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}
.two-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.three-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-heading {
  color: #2457c5;
  margin-bottom: 10px;
}
