.userprofile-toolbar{
    background: #3c4368;
}
.user-profile-back-button{
    margin-right: 5px;
    margin-top: 15px;
}
.user-avatar-container{
    --background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8%;
}
.user-pro-pic-container{
    margin: 1rem;
  width: 200px;
  height: 200px;
  --border-radius: 20%;
}
.user-profile-name{
    font-family: "Quicksand";
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  width: auto;
}
.user-profile-email{
    font-family: "Quicksand";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  width: auto;
}
.media-label{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
}
.media-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    --background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.image-container{
    display: flex;
}
.media{
    --border-radius: 10%;
    margin: 0 10px;
}