.chats-header {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 5px 0;
}

.chats-heading {
  flex: 10;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  opacity: 0.7;
  color: #000000;
  height: auto;
}

.profile-pic {
  width: 40px;
  height: 40px
}

.chats-vertical-dots {
  flex: 3;
  height: 30px;
  margin-left: -4px;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.chats-searchbar {
  --background: #fefefe;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 35px;
  --border-radius: 10px;
  margin: 1rem 1rem;
  --color:black;
  --icon-color:black;
}

.chats-container {
  /* margin-top: 0.8rem; */
  margin-right: 5px;
}
.chat-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
